/*Pieces of Eight Font*/
@font-face {
	font-family:Pirates; 
	src: url("Pieces of Eight Font/Pieces of Eight.ttf");
}
/*Treasure Map Deadhand Font*/
@font-face {
	font-family:TreasureMap ;
	src: url("Treasure Map Font/TreasureMapDeadhand.ttf")
}

body {
	background: 
	url(styles/Dark_Wood.jfif);
	background-size: 100%;

}

/*Navigation bar box*/
#NavBar {
	background-color: black;
	max-height: auto;
	max-width: auto;
	height: 4em;
}
/*Navigation bar header*/
#NavBarName {
	font-family: TreasureMap;
	font-size: 2em;
	color: white;
}

/*Navigation bar links*/
#NavBarLinks a{
	font-family: Pirates;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	margin-top: 0.35em;
	background-color: black;
	margin-right: 1em;
}
#NavBarLinks a:hover{
	color: gray;
	text-decoration: none;
}

.navbar-nav > li > .dropdown-menu {
	background-color: black;
	color: white;
}

#NavigationBar {
	background-color: rgb(0,0,0);
}

.icons {
	color: white;
}

#nav-link2 a{
	font-family: Pirates;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	margin-top: 0.35em;
	background-color: black;
	margin-right: 1em;
	margin-top: 0em;
}
#nav-link2 a:hover{
	color: gray;
	text-decoration: none;
}

/*Picture gallery on home page*/
#CarouselControls {
	max-width: 70em;
	max-height: 60em;
	margin-top: 2em;
}
