
/*Pieces of Eight Font*/
@font-face {
	font-family:Pirates; 
	src: url("/CSS/Pieces of Eight Font/Pieces of Eight.ttf");
}
/*Treasure Map Deadhand Font*/
@font-face {
	font-family:TreasureMap ;
	src: url("/CSS/Treasure Map Font/TreasureMapDeadhand.ttf")
}

/*Navigation bar box*/
.NavBar {
	background-color: black;
	overflow: hidden;
	position: relative;
	max-height: auto;
	max-width: auto;
	height: 4em;
}
/*Navigation bar header*/
.NavBarName {
	font-family: TreasureMap;
	color: white;
	float: left;
}
/*Navigation bar links*/
.NavBarLinks a{
	font-family: pirates;
	color: white;
	float:right;
	display: inline;
}
